@charset "UTF-8";
.cursor{
	cursor: pointer;
}
.free_container{
	font-family: 'Nanum Gothic', sans-serif;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
}

.free_container .free_top{
	display: flex;
}

.free_container .free_top .free_left{
	height:140px;
	margin: 10px;
	border: 1px solid #dedede;
	flex-grow: 1;
}

.free_container .free_top .free_left .weekTitle{
	margin: 5px 0px 0px 10px;	
}
.free_container .free_top .free_left .weekTitle:hover{
	background-color: #dedede;
}

.free_container .free_top .free_right{
	height:140px;
	margin: 10px;
	border: 1px solid #dedede;
	flex-grow: 1;
}
.free_container .free_top .free_right .monthTitle{
	margin: 5px 0px 0px 10px;
}

.free_container .free_top .free_right .monthTitle:hover{
	background-color: #dedede;
}

.free_container .free_bottom{
	font-family: 'Nanum Gothic', sans-serif;
	margin: 10px;
	flex-grow: 1;
}
.contentList{
	display:flex;
	text-align:center;
	align-items:center;
	width:100%;
	border-top: 2px solid #dedede;
	
}

.contentList .highlight{
	font-size: bold;
	color:fuchsia;
}

.contentList:hover{
	background-color: #ddffff;
}

.contentList div{
	margin-left: 15px; 
}

.board_no {
	font-size: 14px;
	width : 5%;
} 

.board_cate{
	color: #dedede;
	width: 8%;
}

.board_title{
	width : 60%;
}

.board_title:hover{
	cursor: pointer;
}

.board_r_dt{
	width : 10%;
}

.board_nickNm{
	width: 5%;
}

