@charset "UTF-8";
.free_container{
	font-family: 'Nanum Gothic', sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.free_container .free_top{
	border: 1px solid black;
	display: flex;
}

.free_container .free_top .free_left{
	margin: 10px;
	border: 1px solid black;
	flex-grow: 1;
}

.free_container .free_top .free_right{
	margin: 10px;
	border: 1px solid black;
	flex-grow: 1;
}

.free_container .free_bottom{
	font-family: 'Nanum Gothic', sans-serif;
	margin: 10px;
	flex-grow: 1;
}
.contentList{
	display:flex;
	text-align:center;
	align-items:center;
	width:100%;
	border-top: 2px solid #dedede;
	
}

.contentList .highlight{
	font-size: bold;
	color:fuchsia;
}

.contentList:hover{
	background-color: #ddffff;
}

.contentList div{
	margin-left: 15px; 
}

.board_no {
	font-size: 14px;
	width : 5%;
} 

.board_title{
	width : 70%;
}

.board_title:hover{
	cursor: pointer;
}

.board_r_dt{
	width : 10%;
}

.board_nickNm{
	width: 5%;
}

