@charset "UTF-8";
.main_container{
	width: 100%;
	height: 600px;
}

.rankTitle{
	margin:10px;
	border-bottom: 1px solid #dedede;
	height: 30px;
}

.main_container .main_borders{
	display: flex;
	width:100%;	
	height:90%;		
}

.main_container .main_borders .left_border{
	background-color:#ffffff;
	border: 1px solid #dedede;
	width: 35%;
	height: 100%;
	margin:10px;
	overflow-y: scroll;
}

.main_container .main_borders .left_border table tr{
	cursor: pointer;
}
.main_container .main_borders .left_border table tr:hover{
	background-color: #eeeeee;
}

}

.main_container .main_borders .right_border{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height:100%;
}

.main_container .main_borders .right_top {
	background-color:#ffffff;
	margin:10px;
	border:1px solid #dedede;
	flex-grow:1;
	height:200px;
}

.main_container .main_borders .right_bottom{
	display: flex;
	flex-grow: 1;
}

.main_container .main_borders .right_bottom .free_border_rank{
	background-color:#ffffff;
	border:1px solid #dedede;
	flex-grow: 1;
	margin:10px;
	height:200px;
}

.main_container .main_borders .right_bottom .border_rank{
	background-color:#ffffff;
	border:1px solid #dedede;
	flex-grow: 1;
	margin:10px;
}

.freeWeek{
	margin: 10px 0px 0px 10px;	
}

.humorWeek{
	margin: 10px 0px 0px 10px;
}

.freeWeek:hover {
	background-color: #dedede;
}

.humorWeek:hover {
	background-color: #dedede;
}

.allWeek{
	margin: 10px 0px 0px 10px;
}

.allWeek:hover{
	background-color: #dedede;
}


.cursor{
	cursor: pointer;
}