@charset "UTF-8";

.search_result{
	width: 850px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.search_result .search_top{
	border: 1px solid #dedede;
	height: 200px;
	display: flex;
}

.search_result .search_top .search_tleft{
	display:flex;
	flex-grow: 1;
}
.search_result .search_top .search_tleft .profile_img{
	width:130px;
	margin: 20px;
}
.search_result .search_top .search_tleft .profile_img img{
	width:120px;
	height:120px;
}

.search_result .search_top .search_tleft .profile_img .profile_level{
	position: relative;
	width:44px;
	height:24px;
	background: url("/res/img/utils/bgLevelbox.png");
	background-size:100%;
	margin: 10px;
	color: #eabd56;
	text-align: center;
	left: 23%;
    bottom: 15%;
}
.search_result .search_top .search_tleft .profile_info .profile_nm{
	margin: 30px 0px 0px 30px;
	font-size: 25px;
	font-weight: bold;
	
}

.search_result .search_top .search_tleft .profile_info .search_reflesh{
	margin: 15px 0px 0px 30px;	
    padding: 10px;
    background-color: #bcffff;
    border: 1px solid #bcffff;
    border-radius: 10px;
    color: #0e0e0e;
    cursor: pointer;
}


.search_result .search_top .search_tright{
	display:flex;
	flex-grow: 1.5;
}

.search_result .search_top .search_tright .rank_img{
	width:130px;
	margin: 10px;
	text-align: center;
}

.search_result .search_top .search_tright .rank_info{
	text-align: center;
}

.search_result .search_top .search_tright .rank_info .rank_wins{
	margin: 50px 0px 0px 30px;
	font-size: 17px;
	color: gray;
}

.search_result .search_top .search_tright .rank_info .reank_winrate{
	margin: 10px 0px 0px 30px;
	font-size: 17px;
	color: gray;
}

.search_result #search_bottom{
	display:flex;
	flex-direction:column;
	flex-grow: 1;
}

.search_result #search_bottom #game{
	display: flex;
	margin:5px;
}

.search_result #search_bottom #game .game_info{
	margin:10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 11px;
	color : #5f5f5f;
}

.search_result #search_bottom #game .game_info div{
	margin-top: 3px;
}

.search_result #search_bottom #game .sum_info{
	margin:10px;
	display:flex;
	flex-direction:column;
	width: 130px;
	text-align: center;
	font-size: 11px;
	color : #5f5f5f;
}

.search_result #search_bottom #game .sum_info .sumTB{
	display: flex;	
}
.search_result #search_bottom #game .sum_info .sumTB .icon{
	width: 50px;
	height: 50px;
}

.search_result #search_bottom #game .sum_info .sumTB .spell img{
	width: 25px;
	height:25px;
}

.search_result #search_bottom #game .sum_info .sumTB .perk img{
	width: 25px;
	height:25px;
}

.search_result #search_bottom #game .sum_info img{
	margin: 5px;
}
.search_result #search_bottom #game .sum_info .spell{
	display: flex;
	flex-direction: column;
}

.search_result #search_bottom #game .sum_info .perk{
	display: flex;
	flex-direction: column;
}

.search_result #search_bottom #game .game_info #que_type{
	border-bottom: 1px solid gray;
}

.search_result #search_bottom #game .detail_info{
	width:210px;
	margin:10px;
	display: flex;
}

.search_result #search_bottom #game .detail_info .sub_info{
	display: flex;
	flex-direction: column;
	margin-left:15px;
	text-align:center;
	font-size: 11px;
	color : #5f5f5f;
}
.search_result #search_bottom #game .detail_info .sub_info #killPer{
	color : #dc143c;
	font-weight: 600;
}

.search_result #search_bottom #game .detail_info .kda{
	margin:10px;
	text-align:center;
	font-size: 14px;
	font-weight: bold;
}
.search_result #search_bottom #game .detail_info .kda #deathSc{
	color: #c6443e;
}
.search_result #search_bottom #game .detail_info .kda div{
	margin:0px 10px 10px 10px;
}

.search_result #search_bottom #game .item_info{
	display:flex;
	flex-direction:column;
	margin:10px;
}
.search_result #search_bottom #game .item_info img{
	width: 30px;
	height: 30px;
}

.search_result #search_bottom #game .team_info {
	margin:10px;
}

.search_result #search_bottom #game .team_info .blueTeam img{
	width: 25px;
	height: 25px;
	margin-bottom: 5px;
}

.search_result #search_bottom #game .team_info .redTeam img{
	width: 25px;
	height: 25px;
	margin-top: 5px;
}

.search_result #moreButton{
	border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
}
.search_result #moreButton a{
	display: block;
    height: 50px;
    color: #555e5e;
    font-size: 13px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}
.margin_1px {
	margin: 0 2px 0 2px;
}
