@charset "UTF-8";

.search_result{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.search_result .search_top{
	height: 200px;
	display: flex;
}

.search_result .search_top .search_tleft{
	display:flex;
	flex-grow: 1;
}
.search_result .search_top .search_tleft .profile_img{
	position:relative;
	width:130px;
	margin: 20px;
}

.search_result .search_top .search_tleft .profile_img .profile_level{
	position:absolute;
	width:44px;
	height:24px;
	background: url("/res/img/utils/bgLevelbox.png");
	background-size:100%;
	margin: 10px;
	color: #eabd56;
	text-align: center;
	left: 23%;
    bottom: 11%;
}
.search_result .search_top .search_tleft .profile_info .profile_nm{
	margin: 30px 0px 0px 30px;
	font-size: 25px;
	font-weight: bold;
	
}

.search_result .search_top .search_tleft .profile_info .search_reflesh{
	margin: 15px 0px 0px 30px;	
    padding: 10px;
    background-color: #bcffff;
    border: 1px solid #bcffff;
    border-radius: 10px;
    color: #0e0e0e;
}


.search_result .search_top .search_tright{
	display:flex;
	flex-grow: 1.5;
}

.search_result .search_top .search_tright .rank_img{
	position:relative;
	width:130px;
	margin: 10px;
	text-align: center;
}

.search_result .search_top .search_tright .rank_info{
	text-align: center;
}

.search_result .search_top .search_tright .rank_info .rank_wins{
	margin: 50px 0px 0px 30px;
	font-size: 17px;
	color: gray;
}

.search_result .search_top .search_tright .rank_info .reank_winrate{
	margin: 10px 0px 0px 30px;
	font-size: 17px;
	color: gray;
}

.search_result .search_bottom{
	border: 1px solid black;
	flex-grow: 1;
	height:400px;
}