@charset "UTF-8";
	body{
	width: 100%;
	height: 100%;
	}

	a{
        text-decoration: none;
    }
    ul li{
        list-style: none;
    }
    .container{
    	background-color: #fbffff;
    }
    
    .header{
    	width:100%;
    	top:0px;
    	position:fixed;
        padding:10px;
        display: flex;
        flex-direction: column;
        background-color:#fbffff;
        z-index:2;
    }
    
    .header #logo{
	    display: flex;
	    justify-content: center;
	    font-family: 'Arvo';
	    font-weight: 700;
	    color: #ed786a;
	    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
	    font-size: 3em;
	    letter-spacing: 13px;    
    }
    
    .header #logo a{
        color:inherit;
    }
    
    .header .search_input {
    	display: flex;
    	justify-content: center;
    }
    
    .header .search_input #name_search_frm{
    	width:50%;
    	text-align: center;
    }
    
    .header .search_input #name_search_frm input[type="text"]{
    	padding: 10px;
    	width: 50%;
    }
    
    .header .search_input #name_search_frm input[type="submit"]{
    	margin-left:10px;
    	padding:10px;
    }
    
   	.c_container{
   		font-family: 'Nanum Gothic', sans-serif;
        margin: 0 auto;
        width: 70%;
        height: 100%;
        padding-top:200px;
    	display:flex;
    } 
   	
    .c_container .flex_column{
    	padding-left:330px;
    	width:100%;
    	display: flex;
    	flex-direction: column;
    }
    
    
    .c_container .flex_column .main_section{
    	width:100%;
    	margin-top: 10px;
    	border-top: 2px solid #f8f8ff;

    }

	.c_container .sidebar{
		margin:15px;
		position:fixed;
		border:1px solid #dedede;
		width:300px;
		height: 500px;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	}
	
	.c_container .sidebar .login_form {
		border-bottom: 2px solid #dedede;
	}
	.c_container .sidebar .login_form .login_input{
		margin:10px 15px 10px 15px;
		border-bottom: 1px solid #dedede;
	}
	
	.c_container .sidebar .login_form .login_input input{
		padding:10px;
		border:none;
	}
	
	.c_container .sidebar .login_form .login_input input:focus{
		outline: none;
	}
	
	.c_container .sidebar .login_form .login_submit{
		margin-bottom: 20px;
		text-align: center;
	}
	
	.c_container .sidebar .login_form .login_submit input{
		width:100px;
		padding: 10px;
		border: none;
		background-color : #bbffff;
		border-radius: 5px;
		
	}
	
	.c_container .sidebar .login_userInfo{
		border-bottom: 2px solid #dedede;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.c_container .sidebar .login_userInfo a{
		font-size:15px;
		color : #82cecc; 
	}
	
	.c_container .sidebar .login_userInfo .logout{
		margin:10px;
	}
	
	.c_container .sidebar .login_userInfo .login_userFrofile{
		display: flex;
	}
	
	
	
	.c_container .sidebar .login_userInfo .login_userFrofile .profileImg {
		display: flex;
		flex-direction: column;
		margin: 10px 10px 0 10px;
	}
	
	.c_container .sidebar .login_userInfo .login_userFrofile .profileImg .profileImgUpd{
		margin-top:10px;
	}
	
	.c_container .sidebar .login_userInfo .login_userFrofile .profileImg .userFrofile{
		margin:10px;
		width: 50px;
		height: 50px;
	}
	
	.c_container .sidebar .login_userInfo .login_userFrofile .profileImg .userFrofile img{
		width: 100%;
	}

	
	.c_container .sidebar .login_userInfo .login_userFrofile .user_nickNm{
		display:block;
		margin:20px 0 0 20px;
	}
	
	.c_container .sidebar .login_userInfo .login_userMy{
		margin:10px;
		display: flex;
	}
	
	.c_container .sidebar .login_userInfo .login_userMy button{
		background-color: #ffffff;
		border: 1px solid #ed786a;
		border-radius:10px;
		width:30%;
		height:35px;
		margin: 10px;
		cursor: pointer;
	}
	
	.c_container .sidebar .login_userInfo .login_userMy .user_myBoard {
		background-color: #fef2f1;
	}
	
	.c_container .sidebar .login_userInfo .login_userMy .user_myCmt{
		background-color: #fef2f1;
	}
	
	.c_container .sidebar .login_userInfo .login_userMy .user_myFavorite{
		background-color: #ed786a;
	}
	
	.c_container .sidebar .join{
		margin: 10px;
	}
	
	.c_container .sidebar .join a{
		color:#16a085;
	}
	.c_container .sidebar .move_menu{
		text-align: center;
		font-size: 15px;
	}
	
	
	.c_container .sidebar .move_menu .menu_div{
		margin:10px;
		cursor: pointer;
		padding: 10px;
	}
	
	.c_container .sidebar .move_menu .menu_div:hover{
		background-color: #ddffff;
	}
	
	
	
