<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.my.board.BoardMapper">
	<!-- 자유게시판 글 등록 -->
	<insert id="insFreeBoard" parameterType="BoardParam">
		INSERT INTO free_board
		(title, content, nick_nm, i_category)
		VALUES
		(#{title}, #{content}, #{nick_nm}, #{i_category});
	</insert>
	
	<!-- 게시판 리스트 Select -->
	<select id="selFreeBoardList" parameterType="BoardParam" resultType="BoardDMI">
		SELECT i_board,title,content,nick_nm,r_dt,i_category 
		FROM free_board 
		<if test="i_board != 0">
		 WHERE i_board  = ${i_board}
		</if>
	</select>
	<!-- 게시판 카테고리 Select -->
	<select id="selCategory" parameterType="CodeVO" resultType="CodeVO">
		SELECT i_category, category FROM t_category
	</select>
	<!-- 게시판 댓글 Select -->
	<select id="selBoardCmt" parameterType="BoardParam" resultType="BoardCmtVO">
		SELECT i_cmt, c_content, nick_nm, r_dt FROM board_cmt 
		WHERE i_board = #{i_board};
	</select>
	
	
	
	
</mapper>