<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.my.board.BoardMapper">
	<!-- 자유게시판 글 등록 -->
	<insert id="insFreeBoard" parameterType="BoardParam">
		INSERT INTO free_board
		(title, content, i_user, i_category)
		VALUES
		(#{title}, #{content}, #{i_user}, #{i_category});
	</insert>
	
	<delete id="delBoard" parameterType="BoardParam">
		DELETE FROM free_board
		where i_board = #{i_board}
	</delete>
	
	<!-- 게시판 리스트 Select -->
	<select id="selFreeBoardList" parameterType="BoardParam" resultType="BoardDMI">
		SELECT A.i_board,title,content,A.r_dt,A.i_category,B.nick_nm,A.i_user,C.cmtCnt,A.cnt,D.category FROM free_board A
		INNER JOIN t_user B
		ON A.i_user = B.i_user
		LEFT JOIN 
			(
			SELECT i_board, COUNT(i_board) AS cmtCnt FROM board_cmt
			GROUP BY i_board
			) C
		ON A.i_board = C.i_board
		LEFT JOIN t_category D
		ON A.i_category = D.i_category
		<if test="searchText != null">
			<choose>
				<when test="searchType == 1">
					WHERE title LIKE #{sqlText}
				</when>
				<when test="searchType == 2">
					WHERE content LIKE #{sqlText}
				</when>
				<when test="searchType == 3">
					WHERE title LIKE #{sqlText} OR content LIKE #{sqlText}
				</when>
			</choose>
		</if>
		<if test="i_category > 0 and searchType == 0">
			WHERE A.i_category = #{i_category}
		</if>
		<if test="i_category > 0 and searchType >0">
			AND A.i_category = #{i_category}
		</if>
		ORDER BY r_dt desc
		LIMIT #{curPage},#{cntPerPage}
	</select>
	
	<!-- 일주일 인기글 select -->
	<select id="weekLikeBoard" parameterType="BoardParam" resultType="BoardDMI">
		SELECT A.i_board,A.title,B.like_cnt,A.i_category FROM free_board A
		LEFT JOIN(
		SELECT i_board, COUNT(i_board) AS like_cnt FROM board_like
		GROUP BY i_board
		) B
		ON A.i_board = B.i_board
		WHERE A.r_dt > DATE_ADD(now(),interval -7 DAY)
		<if	test="i_category > 0">
			AND A.i_category = #{i_category}
		</if>
		ORDER BY B.like_cnt DESC
		LIMIT 0,5;
	</select>
	
	<!-- 한달 인기글 select -->
	<select id="monthLikeBoard" parameterType="BoardParam" resultType="BoardDMI">
		SELECT A.i_board,A.title,B.like_cnt FROM free_board A
		LEFT JOIN(
		SELECT i_board, COUNT(i_board) AS like_cnt FROM board_like
		GROUP BY i_board
		) B
		ON A.i_board = B.i_board
		WHERE A.r_dt > DATE_ADD(now(),interval -1 MONTH)
		<if	test="i_category > 0">
			AND A.i_category = #{i_category}
		</if>
		ORDER BY B.like_cnt DESC
		LIMIT 0,5;
	</select>
	
	<!-- 페이징 갯수 Select -->
	<select id="selTotalPage" parameterType="PagingVO" resultType="PagingVO">
		SELECT COUNT(i_board) as totalBoard FROM free_board A
		INNER JOIN t_category B
		ON A.i_category = B.i_category
		<if test="sqlText != null">
			<choose>
				<when test="searchType == 1">
					WHERE title LIKE #{sqlText}
				</when>
				<when test="searchType == 2">
					WHERE content LIKE #{sqlText}
				</when>
				<when test="searchType == 3">
					WHERE title LIKE #{sqlText} OR content LIKE #{sqlText}
				</when>
			</choose>
		</if>
		<if test="i_category > 0 and searchType == 0">
			WHERE A.i_category = #{i_category}
		</if>
		<if test="i_category > 0 and searchType >0">
			AND A.i_category = #{i_category}
		</if>
	</select>
	
	<!-- 조회수 -->
	<update id="addCnt" parameterType="BoardParam">
		UPDATE free_board
		SET cnt = cnt+1
		WHERE i_board = #{i_board}
	</update>
	
	<!-- 디테일 select -->
	<select id="selFreeBoardDetail" parameterType="BoardParam" resultType="BoardDMI">
		SELECT A.i_board,title,content,A.r_dt,i_category
		,B.nick_nm,A.i_user,C.i_cmt,C.cmtCnt
		,A.cnt, IFNULL(D.like_cnt,0) AS like_cnt FROM free_board A
		INNER JOIN t_user B
		ON A.i_user = B.i_user
		LEFT JOIN 
			(
			SELECT i_board, COUNT(i_board) AS cmtCnt, i_cmt FROM board_cmt
			GROUP BY i_board
			) C
		ON A.i_board = C.i_board
		LEFT JOIN 
			(
				SELECT i_board, COUNT(i_board) AS like_cnt FROM board_like
				WHERE i_board = #{i_board}
			) D
		ON A.i_board = D.i_board
		WHERE A.i_board = #{i_board};
	</select>
	
	<!-- 게시판 카테고리 Select -->
	<select id="selCategory" parameterType="CodeVO" resultType="CodeVO">
		SELECT i_category, category FROM t_category
	</select>
	
	<!-- 게시판 댓글 Select -->
	<select id="selBoardCmt" parameterType="BoardParam" resultType="BoardCmtVO">
		SELECT i_cmt, c_content, B.nick_nm, A.r_dt,A.i_user FROM board_cmt A
		INNER JOIN t_user B
		ON A.i_user = B.i_user 
		WHERE i_board = #{i_board}
	</select>
	
	<!-- 댓글 등록 insert-->
	<insert id="insCmt" parameterType="BoardCmtVO">
		INSERT INTO board_cmt
		(i_board,c_content,i_user)
		VALUES
		(#{i_board},#{c_content},#{i_user});
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="delCmt" parameterType="BoardParam">
		DELETE FROM board_cmt
		WHERE i_board = #{i_board} 
		<if test="i_cmt > 0">
		 AND i_cmt = #{i_cmt}
		</if>
	</delete>
	
	<!-- 대댓글 Select -->
	<select id="selCmtbyCmt" parameterType="BoardParam" resultType="BoardCBCVO">
		SELECT A.i_cmtByCmt, A.i_cmt, A.c_content, B.nick_nm, A.r_dt,A.i_user FROM cmtbycmt A
		INNER JOIN t_user B
		ON A.i_user = B.i_user 
		WHERE i_board = #{i_board}
	</select>
		
	<!-- 대댓글 등록 insert -->
	<insert id="insCmtByCmt" parameterType="BoardCBCVO">
		INSERT INTO cmtbycmt
		(i_user, i_cmt, i_board, c_content)
		VALUES
		(#{i_user}, #{i_cmt}, #{i_board}, #{c_content});
	</insert>
	
	<!-- 대댓글 삭제 -->
	<delete id="delCbc" parameterType="BoardParam">
		DELETE FROM cmtbycmt
		WHERE i_board = #{i_board} 
		<if test="i_cmt > 0">
			AND i_cmt = #{i_cmt}
		</if>
		<if test="i_cmtByCmt > 0">
			AND i_cmtByCmt = #{i_cmtByCmt}
		</if>
	</delete>
	
	<!-- 좋아요 insert -->
	<insert id="insLike" parameterType="BoardParam">
		INSERT INTO board_like
		(i_user, i_board)
		VALUES
		(#{i_user},#{i_board});
	</insert>
	
	<!-- 좋아요 delete -->
	<delete id="delLike" parameterType="BoardParam">
		DELETE FROM board_like
		WHERE i_board = #{i_board}
		<if test="i_user > 0"> 
			AND i_user = #{i_user};
		</if>
	</delete>
	
	<!-- 게시판 좋아요 갯수 select -->
	<select id="selLikeCnt" parameterType="BoardParam" resultType="BoardDMI">
		SELECT count(i_board) as like_cnt FROM board_like
		WHERE i_board = #{i_board}
	</select>
	
	<!-- 좋아요 유무 select -->
	<select id="selLike" parameterType="BoardParam" resultType="BoardDMI">
		SELECT * FROM board_like
		WHERE i_board = #{i_board} AND i_user= #{i_user};
	</select>
		
	<!-- board 작성자 체크 -->
	<select id="selBoardChkUser" parameterType="Integer" resultType="Integer">
		SELECT i_user FROM free_board
		WHERE i_board = #{i_board}
	</select>
	
	<!-- cmt 작성자 체크 -->
	<select id="selCmtChkUser" parameterType="Integer" resultType="Integer">
		SELECT i_user FROM board_cmt
		WHERE i_cmt = #{i_cmt}
	</select>
	
	
	
	
	
	
	
</mapper>